html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}

h1 {
  font-size: 28px;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
